@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,100;1,400;1,500&display=swap');
:root{
    --padding-container: 100px 0;
    --color-title: #001A49;
}
body{
    font-family: "Poppins", sans-serif;
}
.container{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    padding: var(--padding-container);
}
.image{
    display: flex;
    justify-content: center;
}
html {
    scroll-behavior: smooth;
}
.nav_menu{
    margin-left: auto;
    cursor: pointer;
    display: none;
    filter: invert(92%) sepia(17%) saturate(137%) hue-rotate(6deg) brightness(107%) contrast(87%);
}
.nav_close{
    display: var(--show, none);
    filter: invert(92%) sepia(17%) saturate(137%) hue-rotate(6deg) brightness(107%) contrast(87%);
}
.hero::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(180deg, #0000008c 0%, #0000008c 100%), url('/images/Fondo.jpg');
    z-index: -1;
    background-size: cover;
}
.principal{
    align-items: center;
}
.hero{
   width: 100%;
   min-height: 600px;
   max-height: 800px;
   position: relative;
   display: grid;
   grid-template-rows: 200px 1fr; 
   color: #FFFFFF;
}
.nav{
    --padding-container: 0;
    height: 100%;
    display: flex;
    align-items: center;
}
.nav_items{
    list-style: none;
}
.nav_title{
    font-weight: 300;
}
.nav_link{
    margin-left: auto;
    padding: 0;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    gap: 2em;
}
.nav_links{
    color: #fff;
    text-decoration: none;
}
.hero_container{
    max-width: 800px;
    --padding-container:0;
    display: grid;
    grid-auto-rows: max-content;
    gap: 1em;
    text-align: center;  
}
.integrantes{
    background-color:bisque;
}
.integrants{
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
    color: #000000;  
}
.integrants_container{
    display: grid;
    grid-template-columns: 50px 1fr 50px ;
    gap: 1em;
    align-items: center;
}
.integrants_body{
    margin-top: -70px;
    display: grid;
    grid-template-columns: 1fr max-content;
    justify-content: space-between;
    align-items: center;
    gap: 2em;
    grid-column: 2/3;
    grid-row: 1/2;
    opacity: 0;
    pointer-events: none;
}
.integrants_body--show{
    pointer-events: unset;
    opacity: 1;
    transition: opacity 1.5s ease-in-out;
}
.integrant_img{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
    object-position: 50% 10%;
}
.flechas{
    filter: invert(74%) sepia(33%) saturate(3352%) hue-rotate(330deg) brightness(97%) contrast(88%);
}
.integrant_img3 {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
    object-position: 80% 10%;
}
.integrants_text{
    max-width: 700px;
}
.flechas{
    width: 90%;
    cursor: pointer;
}
.group{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000;
}
.groups{
    display: flex;
    justify-content: center;
    align-items: center;
}
.Videos{
    align-items: center;
    background-image: linear-gradient(180deg, #0000008c 0%, #0000008c 100%), url('/images/Fondo.jpg');
    color: #FFFF;
    background-size: cover;
}
.title{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}
.videos{
    justify-content: center;
    display: flex;
    gap: 2em;
    flex-wrap: wrap;
}

.background{
    background-image: linear-gradient(180deg, #0000008c 0%, #0000008c 100%), url('/images/Fondo.jpg');
    background-size: cover;
}
.socialmedia{
    text-align: center;
    color: #FFFFFF;
    padding-top: 15px;
    padding-bottom: 20px;
}
.medias{
    justify-content: center;
    display: flex;
    gap: 2em;
    flex-wrap: wrap;
}
.galeria{
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}
.collage{
    background-color: bisque;
}
.img-collage{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    padding: 5px;
}
.photoGallery{
    width: 280px;
}
/* Media Queries */
 @media (max-width: 800px){
    .nav_menu{
        display: block;
    }
    .nav_link--menu{
        position: fixed;
        background-color: black;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        z-index: 10;
        opacity: 0;
        pointer-events: none;
        transition: .7s opacity;
    }
    .nav_link--show{
        --show: block;
        opacity:1;
        pointer-events: unset;
    }
    .nav_close{
        position: absolute;
        top: 30px;
        right: 30px;
        width: 30px;
        cursor: pointer;
    }
    .hero_title{
        font-size: 2.5rem;
    }
    .integrants_container{
      grid-template-columns: 30px 1fr 30px;  
    }
    .integrants_body{
       grid-template-columns: 1fr;
       grid-template-rows: max-content max-content;
       gap: 3em;
       justify-items: center; 
    }
    @media (max-width: 600px){
        .hero_title{
            font-size: 1rem;      
        }
        .image{
            width: 300px;
            height: 300px;
        }
        .hero_paragraph{
            font-size: 0.5rem;
          
        }
        .subtitle{
            font-size: 1.5rem;
        }
        .nav_logo{
            font-size: 0.7rem;
            
        }
        .groups{
            width: 360px;
        }
        .video{
            width: 300px;
            height: 250px;
        }
        .title{
            font-size: 1rem;
        }
        .galeria{
            font-size: 1rem;
        }
        .integrants{
            font-size: 1rem;
        }
        .integrant_subtitle{
            font-size: 1rem;
        }
        .integrant_paragraph{
            font-size: 0.7rem;
        }
        .integrant_img{
            width: 200px;
            height: 200px;
        }
        .integrant_img3{
            width: 200px;
            height: 200px;
        }
        .socialmedia{
            font-size: 1rem;
        }
        .click{
            font-size: 0.8rem;
        }
        .copyright{
            font-size: 0.8rem;
        }
    }
        @media (max-width: 300px) {
        .image {
            width: 150px;
            height: 150px;
            padding-left: 40px; 
        }
        .nav_logo {
            font-size: 0.5em;
        }
        .hero_title {
            font-size: 0.7rem;
                 }
        .hero_paragraph {
            font-size: 0.4rem;
                 }
        .subtitle {
            font-size: 1.5rem;
        }
        .video {
            width: 200px;
            height: 150px;
        }
        .groups {
            width: 200px;
            height: 200px;
        }
        .photoGallery{
            width: 150px;
            height: 200px;
        }
        .galeria {
            font-size: 0.7rem;
        }
        .integrants {
            font-size: 0.7rem;
        }
        .integrant_subtitle {
            font-size: 0.7rem;
        }
        .integrant_paragraph{
            font-size: 0.5rem;
        }
        .integrant_img {
            width: 150px;
            height: 150px;
        }
        
        .integrant_img3 {
            width: 150px;
            height: 150px;
        }
        .flechas {
             width: 50%;
            cursor: pointer;
        }
        .title {
            font-size: 0.7rem;
        }
        .socialmedia {
            font-size: 0.7rem;
        }
        .click {
            font-size: 0.7rem;
        }
        .copyright{
            font-size: 0.7rem;
        }
        .instagram{
            width: 30px;
            height: 30px;
        }
        .youtube{
            width: 30px;
            height: 30px;
        }
        .whatsapp{
            width: 30px;
            height: 30px;
        }
        .facebook{
            width: 30px;
            height: 30px;
        }
        .tiktok{
            width: 30px;
            height: 30px;
        }
        .nav_img{
            width: 30px;
            height: 30px;
        }
        .nav_close{
            width: 30px;
            height: 30px;
        }
    }
 }